@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.body {
    display: flex;
    min-height: 100vh;
    background-color: white;

}

.homemain {
    padding: 20px;
    position: fixed;
    z-index: 1;
    padding-left: calc(82px + 20px);
}
.geralheader{
    display: flex;
}
.geralheader h1{
    padding: 20px;
    font-size: 3em;
}
.geralheader span, .services span{
    color: red;
}


/*sidebar*/
#sidebar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #ffffff;
    height: 100vh;
    border-radius: 0px 18px 18px 0px;
    position: relative;
    transition: all .5s;
    min-width: 90px;
    z-index: 2;
}

#sidebar_content {
    padding: 12px;
}

#user {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-bottom: 24px;
}

#user_avatar {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 20px;
}

#user_infos {
    display: flex;
    flex-direction: column;
}

#user_infos span:last-child {
    color: #6b6b6b;
    font-size: 12px;
}

#side_items {
    display: flex;
    flex-direction: column;
    gap: 8px;
    list-style: none;
}

.side-item {
    border-radius: 8px;
    padding: 14px;
    cursor: pointer;
}

.side-item.active {
    background-color: red;
}

.side-item:hover:not(.active),
#logout_btn:hover {
    background-color: #e3e9f7;
}

.side-item a {
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #0a0a0a;
}

.side-item.active a {
    color: #e3e9f7;
}

.side-item a i {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
}

#logout {
    border-top: 1px solid #e3e9f7;
    padding: 12px;
}

#logout_btn {
    border: none;
    padding: 12px;
    font-size: 14px;
    display: flex;
    gap: 20px;
    align-items: center;
    border-radius: 8px;
    text-align: start;
    cursor: pointer;
    background-color: transparent;
}

#open_btn {
    position: absolute;
    top: 30px;
    right: -10px;
    background-color: red;
    color: #e3e9f7;
    border-radius: 100%;
    width: 20px;
    height: 20px;
    border: none;
    cursor: pointer;
}

#open_btn_icon {
    transition: transform .3s ease;
}

.open-sidebar #open_btn_icon {
    transform: rotate(180deg);
}

.item-description {
    width: 0px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 14px;
    transition: width .6s ease;
    height: 0px;
}

#sidebar.open-sidebar {
    min-width: 15%;
}

#sidebar.open-sidebar .item-description {
    width: 150px;
    height: auto;
}

#sidebar.open-sidebar .side-item a {
    justify-content: flex-start;
    gap: 14px;
}


/*Downbar*/

.navegacao{
    width: 100%;
    height: 70px;
    background-color: #fff;
    display: none;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 0;
}

.navegacao ul{
    width: 350px;
    display: flex;
}

.navegacao ul li{
    width: 70px;
    height: 70px;
    list-style-type: none;
    position: relative;
    z-index: 1;
}

.navegacao ul li a{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-decoration: none;
    position: relative;
}

.navegacao ul li a .icone{
    display: block;
    line-height: 75px;
    font-size: 20px;
    color: #282828;
    position: relative;
    transition: .5s;
}

.navegacao ul li a .texto{
    color: #282828;
    position: absolute;
    opacity: 0;
    transition: .5s;
    transform: translateY(20px);
}

.navegacao ul li.ativo a .icone{
    transform: translateY(-35px);
    color: #FE4701;
}

.navegacao ul li.ativo a .texto{
    opacity: 1;
    transform: translateY(10px);
}

.indicador{
    width: 70px;
    height: 70px;
    background-color: #fff;
    border-radius: 50%;
    position: absolute;
    top: -50%;
    transition: .5s;
}

.navegacao ul li:nth-child(1).ativo ~ .indicador{
    transform: translateX(calc(70px * 0));
}
.navegacao ul li:nth-child(2).ativo ~ .indicador{
    transform: translateX(calc(70px * 1));
}
.navegacao ul li:nth-child(3).ativo ~ .indicador{
    transform: translateX(calc(70px * 2));
}
.navegacao ul li:nth-child(4).ativo ~ .indicador{
    transform: translateX(calc(70px * 3));
}
.navegacao ul li:nth-child(5).ativo ~ .indicador{
    transform: translateX(calc(70px * 4));
}


@media screen and (max-width: 800px) {
    .geralsidebar{
        display: none;
    }
    .homemain {
        padding: 20px;
        padding-left: 20px;
        position: fixed;
        z-index: 1;
        
    }
    .geralheader{
        display: flex;
        width: 100%;
        height: 70px;
    }
    .geralheader h1{
        padding-left: 30px;
        justify-content: center;
        align-items: center;
    }
    .navegacao{
        display: flex;
    }

    .img-desktop{
        display: none;
    }

    .img-mobile{
        display: block;
    }

    
    section.slider{
        height: 400px;
    }
    .homemain{
        padding-left: 20px;
        
    }
    .nav-manual .manual-btn, .nav-auto div{
        margin-right: 20px;
        margin-top: 25%;
        height: 2em;
        width: 2em;
    }
    .services{
        padding-top: 40px;
    }
    .feature{
        height: 100px;
        width: 100px;
    }
     
  .logcontainer {
    width: 300px;
    height: 450px;
    }
    
    form {
        width: 250px;
        height: 400px;
    }
    
    .logbody input[type="text"], .logbody input[type="password"] {
        padding: 8px 0 8px 30px;
    }
    
    button[type="submit"] {
        padding: 8px 0 8px 10px;
    }
    
    .iEmail {
        top: 40px;
    }
    
    .iPassword {
        top: 114px;
    }
    
    .iPassword2 {
        top: 190px;
    }
    
    .navegacao ul li{
        font-size: 1.2em;
    }
    .navegacao ul li i{
        font-size: 2em;

    }
    
    
    
}






















@media screen and (max-width: 576px) {
    
    .main {
        padding: 20px;
        padding-left: 20px;
        position: fixed;
        z-index: 1;
        
    }
    .geralheader{
        display: flex;
        width: 100%;
        height: 70px;
    }
    .geralsidebar{
        display: none;
    }
    .geralheader h1{
        padding-left: 30px;
        justify-content: center;
        align-items: center;
    }
    .navegacao{
        display: flex;
    }

    
 
    .main{
        padding-left: 20px;
        
    }
    .nav-manual .manual-btn, .nav-auto div{
        margin-right: 20px;
        margin-top: 25%;
    }
    .navegacao ul li{
        font-size: 1.1em;
    }
    .navegacao ul li i{
        font-size: 1.4em;

    }
}

