@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.homebody {
    display: flex;
    min-height: 100vh;
    background-color: white;
}

.homemain {
    padding: 20px;
    position: relative;
    z-index: 1;
    padding-left: calc(82px + 20px);
}
.geralheader{
    display: flex;
    position: fixed;
}
.geralheader h1{
    margin-left: 100px;
    padding: 20px;
    font-size: 3em;
}
.geralheader span, .services span{
    color: red;
}
/*services*/
.services{
    padding: 3%;
}
.services h2{
    text-align: center;
}

.features{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 3%;
    gap: 8px;
    flex-wrap: wrap;
}

.feature{
    display: flex;
    border-radius: 30px;
    border: 3px solid #ff0000;
    height: 90px;
    width: 90px;
    justify-content: center;
    align-items: center;
}

.feature i{
    font-size: 40px;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.feature:hover{
    background-color: #ff0000;
    color: white;
    transition: 1s;
}

.feature i:hover{
    color: white;
    transition: 1.3s;
}



/*sidebar*/
#sidebar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #ffffff;
    height: 100vh;
    border-radius: 0px 18px 18px 0px;
    position: fixed;
    transition: all .5s;
    min-width: 90px;
    z-index: 2;
}

#sidebar_content {
    padding: 12px;
}

#user {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-bottom: 24px;
}

#user_avatar {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 20px;
}

#user_infos {
    display: flex;
    flex-direction: column;
}

#user_infos span:last-child {
    color: #6b6b6b;
    font-size: 12px;
}

#side_items {
    display: flex;
    flex-direction: column;
    gap: 8px;
    list-style: none;
}

.side-item {
    border-radius: 8px;
    padding: 14px;
    cursor: pointer;
}

.side-item.active {
    background-color: red;
}

.side-item:hover:not(.active),
#logout_btn:hover {
    background-color: #e3e9f7;
}

.side-item a {
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #0a0a0a;
}

.side-item.active a {
    color: #e3e9f7;
}

.side-item a i {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
}

#logout {
    border-top: 1px solid #e3e9f7;
    padding: 12px;
}

#logout_btn {
    border: none;
    padding: 12px;
    font-size: 14px;
    display: flex;
    gap: 20px;
    align-items: center;
    border-radius: 8px;
    text-align: start;
    cursor: pointer;
    background-color: transparent;
}

#open_btn {
    position: absolute;
    top: 30px;
    right: -10px;
    background-color: red;
    color: #e3e9f7;
    border-radius: 100%;
    width: 20px;
    height: 20px;
    border: none;
    cursor: pointer;
}

#open_btn_icon {
    transition: transform .3s ease;
}

.open-sidebar #open_btn_icon {
    transform: rotate(180deg);
}

.item-description {
    width: 0px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 14px;
    transition: width .6s ease;
    height: 0px;
}

#sidebar.open-sidebar {
    min-width: 15%;
}

#sidebar.open-sidebar .item-description {
    width: 150px;
    height: auto;
}

#sidebar.open-sidebar .side-item a {
    justify-content: flex-start;
    gap: 14px;
}


/*Downbar*/

.navegacao{
    width: 100%;
    height: 70px;
    background-color: #fff;
    display: none;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 0;
}

.navegacao ul{
    width: 350px;
    display: flex;
}

.navegacao ul li{
    width: 70px;
    height: 70px;
    list-style-type: none;
    position: relative;
    z-index: 1;
}

.navegacao ul li a{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-decoration: none;
    position: relative;
}

.navegacao ul li a .icone{
    display: block;
    line-height: 75px;
    font-size: 20px;
    color: #282828;
    position: relative;
    transition: .5s;
}

.navegacao ul li a .texto{
    color: #282828;
    position: absolute;
    opacity: 0;
    transition: .5s;
    transform: translateY(20px);
}

.navegacao ul li.ativo a .icone{
    transform: translateY(-35px);
    color: #FE4701;
}

.navegacao ul li.ativo a .texto{
    opacity: 1;
    transform: translateY(10px);
}

.indicador{
    width: 70px;
    height: 70px;
    background-color: #fff;
    border-radius: 50%;
    position: absolute;
    top: -50%;
    transition: .5s;
}

.navegacao ul li:nth-child(1).ativo ~ .indicador{
    transform: translateX(calc(70px * 0));
}
.navegacao ul li:nth-child(2).ativo ~ .indicador{
    transform: translateX(calc(70px * 1));
}
.navegacao ul li:nth-child(3).ativo ~ .indicador{
    transform: translateX(calc(70px * 2));
}
.navegacao ul li:nth-child(4).ativo ~ .indicador{
    transform: translateX(calc(70px * 3));
}
.navegacao ul li:nth-child(5).ativo ~ .indicador{
    transform: translateX(calc(70px * 4));
}

/*slider*/

section.slider{
    margin: 70px auto;
    width: 100%;
    height: auto;
    padding: 0 !important;
    overflow: hidden;
    border-radius: 20px;
}

.slider-content{
    width: 400%;
    height: auto;
    display: flex;
}

.slider-content input, .img-mobile{
    display: none;
}

.slide-box{
    width: 25%;
    height: 400px;
    position: relative;
    text-align: center;
    transition: 1s;
}

.slide-box img{
    width: 100%;
}

.nav-manual, .nav-auto{
    position: absolute;
    width: 100%;
    margin-top: 30%;
    display: flex;
    justify-content: center;
}

.nav-manual .manual-btn, .nav-auto div{
    border: 1px solid #ff0054;
    padding: 10px;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.2s;
    margin-right: 100px;
}

.nav-manual .manual-btn:not(:last-child), .nav-auto div:not(:last-child){
    margin-right: 10px;
}

.nav-manual .manual-btn:hover{
    background-color: #ff0054;
}

#radio1:checked ~ .nav-auto .auto-btn1, #radio2:checked ~ .nav-auto .auto-btn2, #radio3:checked ~ .nav-auto .auto-btn3{
    background-color: #ff0054;
}

#radio1:checked ~ .primeiro{
    margin-left: 0%;
}

#radio2:checked ~ .primeiro{
    margin-left: -25%;
}

#radio3:checked ~ .primeiro{
    margin-left: -50%;
}

/* CAD AND LOGIN!!!  */
@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Roboto:wght@100;300;400;500;700;900&family=Source+Sans+Pro:wght@200;300;400;600;700;900&display=swap');

.logbody {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: whitesmoke;
}

.logheader{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.logcontainer {
    background-color: bl;
    padding: 6px;
    width: 350px;
    height: 470px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    margin-top: 5%;
}

form {
    position: absolute;
    margin-top: 70px;
    transition: .5s;
    width: 300px;
    height: 400px;
}

.buttonsForm {
    margin-top: 30px;
    position: relative;
    border-radius: 30px;
}

.buttonsForm button {
    cursor: pointer;
    background: transparent;
    border: none;
    position: relative;
    padding: 10px 29px;
}

.btnColor {
    position: absolute;
    width: 108px;
    height: 100%;
    background: linear-gradient(to right, red, #db5757);
    border-radius: 30px;
    transition: .3s;
}

.logbody input[type="text"], .logbody input[type="password"] {
    border: none;
    margin-top: 40px;
    border-radius: 60px;
    padding: 8px 0 8px 35px;
    outline: none;
    width: 100%;
}

button[type="submit"] {
    background: red;
    color: white;
    border-radius: 30px;
    width: 100%;
    border: none;
    outline: none;
    padding: 8px 0 8px 15px;
    font-size: 15px;
    margin-top: 40px;
    cursor: pointer;
}

.divCheck {
    margin: 10px 0 0 5px;
    width: 80%;
    font-size: 13px;
}

#signin {
    left: 25px;
}

#signup {
    left: 450px;
}

.logbody i {
    position: absolute;
    left: 0;
    padding: 10px 10px;
}

.iEmail {
    top: 40px;
}

.iPassword {
    top: 114px;
}

.iPassword2 {
    top: 190px;
}

/* Profile Styles */
.perfmain {
    padding-top: 6%;
    padding-left: 8%;
    z-index: 1;
}

.perfmain img {
    height: 280px;
    width: 280px;
    border-radius: 50%;
    border: 2px solid black;
}

.informations {
    display: flex;
    padding-top: 40px;
    gap: 125px;
}

.informations p {
    font-size: 1.2em;
}

.infotop {
    display: flex;
    flex-direction: row;
    gap: 50px;
    border-radius: 12px;
}

.essencinfo span {
    color: red;
}

.evolution-chart {
    width: 80%;
    margin: auto;
    background-color: #f9f9f9;
    border-radius: 10px;
    height: 500px;
    width: 700px;
    background-color: #fff;
    padding: 4%;
}



@media screen and (max-width: 800px) {
    .geralsidebar{
        display: none;
    }
    .homemain {
        padding: 20px;
        padding-left: 20px;
        position: fixed;
        z-index: 1;
        
    }
    .geralheader{
        display: flex;
        width: 100%;
        height: 70px;
        

    }
    .perfbody .geralheader{
        position: initial;
    }
    .geralheader h1{
        margin-left: 0;
        padding-left: 30px;
        justify-content: center;
        align-items: center;
    }
    .navegacao{
        display: flex;
    }

    .img-desktop{
        display: none;
    }

    .img-mobile{
        display: block;
    }

    
    section.slider{
        height: 400px;
    }
    .homemain{
        padding-left: 20px;
        
    }
    .nav-manual .manual-btn, .nav-auto div{
        margin-right: 20px;
        margin-top: 25%;
        height: 2em;
        width: 2em;
    }
    .services{
        padding-top: 40px;
    }
    .feature{
        height: 100px;
        width: 100px;
    }
     
  .logcontainer {
    width: 300px;
    height: 450px;
    }
    
    form {
        width: 250px;
        height: 400px;
    }
    
    .logbody input[type="text"], .logbody input[type="password"] {
        padding: 8px 0 8px 30px;
    }
    
    button[type="submit"] {
        padding: 8px 0 8px 10px;
    }
    
    .iEmail {
        top: 40px;
    }
    
    .iPassword {
        top: 114px;
    }
    
    .iPassword2 {
        top: 190px;
    }
    
    .navegacao ul li{
        font-size: 1.2em;
    }
    .navegacao ul li i{
        font-size: 2em;

    }
    
    /*perfil*/
    .perfbody {
        overflow-x: scroll;
    }
    
    .perfmain {
        padding-top: 80px;
        padding-left: 20px;
        z-index: 1;
        height: 80vh;
        height: max-content;
    }
    
    
    
    .perfmain img {
        height: 200px;
        width: 200px;
        border-radius: 50%;
        display: flex;
    }
    
    
    
    .informations {
        flex-direction: column;
        gap: 30px;
    }
    
    .informations p {
        font-size: 1em;
    }
    
    .informations h2 {
        font-size: 1.2em;
    }
    
    .evolution-chart {
        padding: 0px;
        background-color: #f9f9f9;
        border-radius: 10px;
        height: 300px;
        width: 95%;
        background-color: #fff;
    }
    
}

@media screen and (max-width: 576px) {
    .geralsidebar{
        display: none;
    }
    .homemain {
        padding: 20px;
        padding-left: 20px;
        position: fixed;
        z-index: 1;
        
    }
    .geralheader{
        display: flex;
        width: 100%;
        height: 70px;
        position: fixed;
        
    }
    .perfbody .geralheader{
        position: initial;
    }
    .geralheader h1{
        padding-left: 30px;
        justify-content: center;
        align-items: center;
    }
    .navegacao{
        display: flex;
    }

    .img-desktop{
        display: none;
    }

    .img-mobile{
        display: block;
    }

    
    section.slider{
        height: 200px;
    }
    .homemain{
        padding-left: 20px;
        
    }
    .nav-manual .manual-btn, .nav-auto div{
        margin-right: 20px;
        margin-top: 25%;
    }
    .services{
        padding-top: 25px;
    }
    .feature{
        height: 90px;
        width: 90px;
    }
     
  .logcontainer {
    width: 300px;
    height: 450px;
    }
    
    form {
        width: 250px;
        height: 400px;
    }
    
    .logbody input[type="text"], .logbody input[type="password"] {
        padding: 8px 0 8px 30px;
    }
    
    button[type="submit"] {
        padding: 8px 0 8px 10px;
    }
    
    .iEmail {
        top: 40px;
    }
    
    .iPassword {
        top: 114px;
    }
    
    .iPassword2 {
        top: 190px;
    }
    .navegacao ul li{
        font-size: 1.1em;
    }
    .navegacao ul li i{
        font-size: 1.4em;

    }


    /*perfil*/
    .perfbody {
        overflow: scroll;
    }
    
    .perfmain {
        padding-top: 20px;
        padding-left: 20px;
        z-index: 1;
        height: max-content;
        overflow: scroll;
        height: 100vh;

        
    }
    
    
    
    .perfmain img {
        height: 200px;
        width: 200px;
        border-radius: 50%;
        display: flex;
    }
    

    
    .informations {
        flex-direction: column;
        gap: 30px;
    }
    
    .informations p {
        font-size: 1em;
    }
    
    .informations h2 {
        font-size: 1.1em;
    }
    
    .evolution-chart {
        padding-bottom: 60%;
        background-color: #f9f9f9;
        border-radius: 10px;
        
        height: 140px;
        width: 95%;
        background-color: #fff;
    }
}

